@charset "utf-8";

/* --------------------------------------------------------------------------------
*
*   section04 sss
*
-------------------------------------------------------------------------------- */
#top .section04 {

  /* --------------------------------------------------------------------------------
  *
  *   media query
  *
  -------------------------------------------------------------------------------- */
  
  // 768以下
  @media only screen and (max-width: $maxBpSP) {


  }

  // 320以下
  @media only screen and (max-width: $minBpSP)  {


  }

  // 768以上
  @media only screen and (min-width: $maxBpSP + 1) {

    /*
    *
    *   block03
    *
    */
    .block03 {

      padding-top: 80px;
      
      .text01 {
        line-height: 1.55;
        font-size: 18px;
        padding: 0;
        width: 800px;
        margin: 0 auto;
        margin-bottom: 80px;
        
        span {
          font-size: 14px;
        }
      }

      .details {
        width: 800px;
        margin: 0 auto;
        box-sizing: border-box;
        font-size: 14px;
        padding: 0;
        padding-top: 28px;
        padding-bottom: 265px;
        
        .name01 {
          text-indent: -53px;
          padding-left: 53px;
          line-height: 1.57;
          margin-bottom: 5px;
          margin-top: -4px;
        }
        .name02 {
          // padding-left: 5px;
        }
      }
      
      /*
      *
      *   share
      *
      */
      .share {
        padding: 43px 0;
      
        .tit {
          font-size: 14px;
          margin: 0;
          padding-right: 140px;
          
          span {
            padding-left: 28px;
            background: url(/project-name/assets/resource/svg/icon_share.svg) no-repeat;
            background-position: 0;
            background-size: 14px;
            
            // margin-left: -28px;
          }

          .bar {
            width: 26px;
            height: 1px;
            background-color: #000;
            position: absolute;
            top: calc(50% - 0px);
            left: calc(50% - 3px);
            transform: translate(-50%, -50%);
          }
        }

        .row {
          position: absolute;
          top: calc(50% - 0px);
          left: calc(50% + 96px);
          transform: translate(-50%,-50%);
          
          .item {margin-right: 18px;}
          .item svg {            
            padding: 6px;
          }
          
          .item:nth-child(1) svg {
            width: 8px;
            height: 16px;
          }
          .item:nth-child(2) {
            position: relative;
            top: -2px;
          }
          .item:nth-child(2) svg {
            width: 14px;
            height: 12px;
          }
          .item:nth-child(3) svg {
            width: 16px;
            height: 12px;
          }
          .item:nth-child(4) {
            display: none;
          }
          
          svg path {
            fill: #000;
          }
        }

      }

    }
  
  }

  // 1281以上
  @media only screen and (min-width: $maxBpPC + 1) {


  }


}