/* --------------------------------------------------------------------------------
*
*   history
*
-------------------------------------------------------------------------------- */
body.history #bgWrap {

  /*
  *
  *   media query   
  *
  */

  // 768以下
  @media only screen and (max-width: $maxBpSP) {



  }

  // 320以下
  @media only screen and (max-width: $minBpSP)  {

  
  }

  // 768以上
  @media only screen and (min-width: $maxBpSP + 1) {

    .sec04 {

        display: block;
        overflow: hidden;
        
    }

    .bg04.front {
      background: url(/project-name/assets/resource/img/history/mv1.png) no-repeat;
      background-size: cover;
      background-position: center right;
      left: 0;
      top: 0;
      width: 110%;
      height: 120%;
      margin-top: -5%;
      margin-left: -15%;
      
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
            
    }
    .bg04.back {
      background: url(/project-name/assets/resource/img/history/mv2.png) no-repeat;
      background-size: cover;
      position: absolute;
      left: 0;
      top: 0;
      width: 120%;
      height: 130%;
      margin-top: -5%;
      margin-left: -10%;
      
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
    }

    .overlay {
      background-color: #000;
      
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      
      opacity: 0.7;
      z-index: 3;
    }


  }

  // 1281以上
  @media only screen and (min-width: $maxBpPC + 1) {


  }

}