/* --------------------------------------------------------------------------------
*
*   setting
*
-------------------------------------------------------------------------------- */

$font-color: #000; // テキスト
$bg-color: #fff; // 背景
// $bg-color: #ccc;

$font-size: 16; // サイズ
// $font-size: 10;

// リンク
$link-color: #000;
$link-colorHover: #000;
$link-colorVisited: #000;
$link-colorActive: #000;

/* --------------------------------------------------------------------------------
*   media query
-------------------------------------------------------------------------------- */
// ブレイクポイントを変数指定
$maxBpSP: 768px;
$minBpSP: 320px;
$minBpTAB: 481px;
$maxBpTAB: 1069px;
$minBpPC: 769px;
$maxBpPC: 1280px;

/* --------------------------------------------------------------------------------
*   font
-------------------------------------------------------------------------------- */

// デバイスフォント
  // ゴシック
    // $font: YuGothic, '游ゴシック', sans-serif;
    // $font: YuGothic, '游ゴシック', 'Hiragino Kaku Gothic ProN', 'YuGothicM', 'ヒラギノ角ゴ ProN W3', Meiryo, 'メイリオ', sans-serif;
    // $font: 'YuGothicM', 'YuGothicB', 'ヒラギノ角ゴ ProN W3', Meiryo, 'メイリオ', sans-serif;
    // $font: sans-serif;
    // $base_font: "Source Code Pro", "メイリオ", "Meiryo", "ヒラギノ明朝 Pro W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif, verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
    // $base_font: "Source Code Pro", "メイリオ", "Meiryo", "ヒラギノ明朝 Pro W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif, verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
  // 明朝
    $font: 'ヒラギノ明朝 Pro W6', 'Hiragino Mincho Pro', 'HGS明朝E', 'ＭＳ Ｐ明朝', Meiryo, 'メイリオ', serif;
    // $font: 'ヒラギノ明朝 Pro W6', 'Hiragino Mincho Pro', 'HGS明朝E', 'ＭＳ Ｐ明朝', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, 'メイリオ', sans-serif;

// web font

  // @font-face {
  //     font-family: 'YuGothicM';
  //     font-style: normal;
  //     src: url('/campaign/project-name/assets/resource/yugothicmedium.ttf')  format('truetype'); /* Safari, Android, iOS */
  //     // src: url('/campaign/project-name/assets/resource/YuGothicMedium.otf')  format('opentype'); /* Safari, Android, iOS */
  // }
  // @font-face {
  //     font-family: 'YuGothicB';
  //     font-style: normal;
  //     src: url('/campaign/project-name/assets/resource/yugothicbold.ttf')  format('truetype'); /* Safari, Android, iOS */
  //     // src: url('/campaign/project-name/assets/resource/YuGothicBold.otf')  format('opentype'); /* Safari, Android, iOS */
  // }

  %cormorant {
    font-family: 'Cormorant', serif;
  }
  %roboto {
    font-family: 'Roboto Condensed', sans-serif;
  }

/* --------------------------------------------------------------------------------
*
*   z-index
*
-------------------------------------------------------------------------------- */
$z-map: (
  menu, 
  bg,
  wrapper,
  pageTransitionLayer,
  nav,
  sideL, 
  sideR,
  footer,
  frame,
  header,
  alert,
  loading
);

// z-index
@function z($name) {
  @return index($z-map, $name);
}

/* --------------------------------------------------------------------------------
*
*   html,body
*
-------------------------------------------------------------------------------- */

html,body {
  height: 100%;
}

html {

  // 横スクロール
  // max-width: 1400px;
  // min-width: 980px;
  
  // baseフォント
  color: $font-color;
  font-size: 13px;
  font-family: $font;      
  letter-spacing: 0em;
  
  // 背景
  background-color: $bg-color;
  // background-color: #e93f33;

  // sp対策
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  
  // other
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  // font-smoothing: antialiased;
  // text-rendering: auto;
  
  // overflow: hidden;

  
  /*
  *
  *   media query   
  *
  */

  // 768以下
  @media only screen and (max-width: $maxBpSP) {
  

  }

  // 320以下
  @media only screen and (max-width: $minBpSP)  {


  }

  // 768以上
  @media only screen and (min-width: $maxBpSP + 1) {

    font-size: 16px;
    
  }

  // 1281以上
  @media only screen and (min-width: $maxBpPC + 1) {


  }

}

body {

  /*
  *
  *   media query   
  *
  */

  // 768以下
  @media only screen and (max-width: $maxBpSP) {

    min-width: 320px;
    
    position: static !important;

  }

  // 320以下
  @media only screen and (max-width: $minBpSP)  {


  }

  // 768以上
  @media only screen and (min-width: $maxBpSP + 1) {

    // min-width: 1000px;
    overflow: hidden;

  }

  // 1281以上
  @media only screen and (min-width: $maxBpPC + 1) {

  }

}

/* --------------------------------------------------------------------------------
*
*   wrapper,inner
*
-------------------------------------------------------------------------------- */
#wrapper,#inner {
  // overflow-x: hidden;
  height: 100%;
}

#wrapper {
  // overflow-x: hidden;
  // height: 100%;
  width: 100%;
  z-index: z(wrapper);
  
  // 768以下
  @media only screen and (max-width: $maxBpSP) {

    position: relative !important;

  }

  // 320以下
  @media only screen and (max-width: $minBpSP)  {


  }

  // 768以上
  @media only screen and (min-width: $maxBpSP + 1) {

   
  }

  // 1281以上
  @media only screen and (min-width: $maxBpPC + 1) {

  }
}

#inner {
  // overflow-x: hidden;
}

/* --------------------------------------------------------------------------------
*
*   link
*
-------------------------------------------------------------------------------- */
  
a {
  color: $link-color;
  text-decoration: none;
}
a:hover {
  color: $link-colorHover;
  text-decoration: none;
}
a:visited {
  color: $link-colorVisited;
  text-decoration: none;
}
a:active {
  color: $link-colorActive;
  text-decoration: none;
}