@charset "utf-8";

/* --------------------------------------------------------------------------------
*
*   section04 sss
*
-------------------------------------------------------------------------------- */
#top .section04 {

  .imgHWrap {
    overflow: hidden;
  }

  /* --------------------------------------------------------------------------------
  *
  *   block01
  *
  -------------------------------------------------------------------------------- */
  .block01 {

    .textWrap {
      position: absolute;
      top: 115px;
      left: 0;
      padding: 0 25px 0;
      color: #fff;
      
      .text01 {
        font-size: 18px;
        letter-spacing: 0.08em;
        margin-bottom: 13px;
        
        @extend %cormorant;
      }

      .tit {
        margin-bottom: 15px;
      }

      .text02 {
        font-size: 13px;
        line-height: 1.61;
        letter-spacing: 0.03em;
      }
    }

    .textWrap02 {
      position: absolute;
      bottom: -1px;
      width: calc(100% - 50px);
      margin: 0 25px 0;
      box-sizing: border-box;
      background-color: #fff;
      
      // effect
      .link {
        outline: none;
        text-decoration: none;
        position: relative;
        line-height: 1;
        display: inline-block;
      }

      .link--hover {
        overflow: hidden;
        line-height: 1;
        color: #fff;
        opacity: 1;
        -webkit-transition: color 0.4s 0.1s;
        transition: color 0.4s 0.1s;
        // -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
        // transition-timing-function: cubic-bezier(0.7,0,0.3,1);
      }

      .link--hover:hover {
        color: #81d8d0;
      }
      .isHover .link--hover {
        color: #81d8d0;
      }

      .link--hover::before {
        content: attr(data-letters);
        position: absolute;
        z-index: 2;
        overflow: hidden;
        color: #81d8d0;
        white-space: nowrap;
        width: 0%;
        -webkit-transition: width 0.4s 0.0s;
        transition: width 0.4s 0.0s;
        // -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
        // transition-timing-function: cubic-bezier(0.7,0,0.3,1);
      }

      .isHover .link--hover::before {
        width: 100%;
      }
      
      .item {
        text-align: center;
        font-size: 15px;
        letter-spacing: 0.08em;
        
        width: 50%;
        
        @extend %roboto;
        
        span {
          margin-left: 20px;
        }
      }
      .item:nth-child(2) {        
        span {
          margin-left: 10px;
        }
      }
      
      .bar {
        position: absolute;
        top: 15px;
        left: calc(50% + 14px);
        width: 1px;
        height: 20px;
        background-color: #ccc;
      }

    }

    .indicator {
      @extend %cormorant;
      color: #fff;
    }

  }

}