body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td
{
    margin: 0;
    padding: 0;
}

p
{
    font-size: 100%;
    line-height: 1.5em;
}

table
{
    border-spacing: 0;
    border-collapse: collapse;
}

fieldset,
img
{
    border: 0;
}

ol,
ul
{
    list-style: none;
}

caption,
th
{
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-size: 100%;
    font-weight: normal;
}

q:before,
q:after
{
    content: '';
}

abbr,
acronym
{
    border: 0;
}

.clearfix
{
    display: block;
}

.clearfix:after
{
    display: block;
    visibility: hidden;
    clear: both;

    height: 0;

    content: '.';
}

#top #Effects01_wrap
{
    position: relative;
    z-index: 1;

    overflow: hidden;

    width: 600px;
    height: 600px;
    margin: 40px auto 0;

    background-color: aquamarine;
}

#top #Effects01_wrap #obj01
{
    position: absolute;
    top: 200px;
    right: 0;
    bottom: 0;
    left: 0;

    width: 28px;
    height: 28px;
    margin: 0 auto;

    opacity: 1.0;
}

#top #Effects01_wrap #obj01 .logo_img
{
    width: 28px;
    height: 28px;

    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}

#top #Effects01_wrap #obj02
{
    position: absolute;
    z-index: 10;
    top: 170px;
    right: 0;
    bottom: 0;
    left: 0;

    width: 517px;
    margin: 0 auto;

    -webkit-transform: scale(.95);
            transform: scale(.95);

    opacity: .0;
}

#top #Effects01_wrap #obj02 .textbox
{
    font-size: 34px;
    font-weight: bold;

    text-align: center;
}

#top #Effects01_wrap #obj02 .textbox .text01
{
    position: relative;
    right: 0;
}

#top #Effects01_wrap #obj02 .textbox .text02
{
    position: relative;
    left: 0;
}

#top #Effects01_wrap #obj02 .textbox .text03
{
    position: relative;
    right: 0;
}

#top #Effects01_wrap #obj02 .textbox .text03
{
    position: relative;
    left: 0;
}

#top #Effects01_wrap #obj02 .textbox .border
{
    height: 1px;
    margin: 0 auto;

    background-color: #000;
}

#top #Effects01_wrap #obj02 .textbox .border01
{
    width: 400px;
    margin-bottom: 20px;
}

#top #Effects01_wrap #obj02 .textbox .border02
{
    width: 517px;
    margin-bottom: 40px;
}

#top #Effects01_wrap #obj02 .textbox .border03
{
    width: 517px;
    margin-top: 40px;
    margin-bottom: 20px;
}

#top #Effects01_wrap #obj02 .textbox .border04
{
    width: 400px;
    margin-bottom: 20px;
}

#top #Effects01_wrap #obj02 .textbox .border05
{
    width: 300px;
}

#top #Effects01_wrap #obj03
{
    position: absolute;
    z-index: 100;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;

    width: 235px;
    height: 128px;
    margin: -64px auto 0;
}

#top #Effects01_wrap #obj03 .inner .logo_img
{
    width: 28px;
    height: 28px;
    margin: 0 auto 40px;

    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);

    opacity: .0;
}

#top #Effects01_wrap #obj03 .inner .txt
{
    font-size: 40px;
    font-weight: bold;

    display: inline-block;

    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);

    opacity: .0;
}
