/* --------------------------------------------------------------------------------
*
*   sideL
*
-------------------------------------------------------------------------------- */
#sideL {  

  display: none;
  
  z-index: z(sideL);
  
  .sns {display: none;}

  opacity: 0;
  
  /*
  *
  *   media query   
  *
  */

  // 768以下
  @media only screen and (max-width: $maxBpSP) {

    display: block;
    
    position: absolute;
    bottom: 0px;
    left: 0px;
    
    height: 60px;
    width: 0;
    // width: 330px;
    background-color: #000;
    
    .sns.pc {display: none;}  
    .sns.sp {
      display: block;
      height: 100%;
      
      .inner {
        position: static;
      }
    
      .iconShare {

        position: absolute;
        bottom: 20px;
        left: 20px;
        
        svg {
          width: 20px;
          height: 20px;
        }

      }

      .bar {

        display: none;
        
        position: absolute;
        bottom: 31px;
        left: 57px;
        width: 30px;
        height: 1px;
        background-color: #fff;
      }

      .list {

        display: none;
        
        position: absolute;
        left: 116px;
        bottom: 18px;
        width: 185px;
        
        .item {
          margin-right: 36px;
        }

        .item:nth-child(1) svg {
          width: 12px;
          height: 24px;
        }
        .item:nth-child(2) {
          position: relative;
          top: 3px;
        }
        .item:nth-child(2) svg {
          width: 23px;
          height: 20px;
        }
        .item:nth-child(3) {
          position: relative;
              top: 6px;
        }
        .item:nth-child(3) svg {
          width: 20px;
          height: 14px;
        }
        .item:nth-child(4) {
          position: relative;
          top: 4px;
        }
        .item:nth-child(4) svg {
          width: 21px;
          height: 20px;
        }
        
      }

    }
  

  }

  // 320以下
  @media only screen and (max-width: $minBpSP)  {


  }

  // 768以上
  @media only screen and (min-width: $maxBpSP + 1) {


    position: absolute;
    bottom: 0;
    left: 0;
    
    display: block;

    .sns.sp {

      display: none;
      opacity: 0;

      .inner {
        
        position: absolute;
        bottom: 30px;
        left: 30px;
        padding: 10px;
        
      }
      
      .iconShare {

        // position: absolute;
        // bottom: 40px;
        // left: 40px;

      }

      .bar {

        display: none;

        position: absolute;
        bottom: 19px;
        left: 42px;
        width: 26px;
        height: 1px;
        background-color: #fff;
        
      }

      .list {

        display: none;

        position: absolute;
        bottom: 8px;
        left: 88px;
        width: 234px;
        
        .item {
          margin-right: 24px;
          
          svg path {fill: #fff;}
          svg {
            padding: 6px;
            position: relative;
            top: 6px;
          }
        }

        .item:nth-child(2) {
          position: relative;
          top: 1px;
        }

        .item:nth-child(3) {
          position: relative;
          top: 1px;
        }
        .item:nth-child(3) svg {
          width: 16px;
          height: 12px;
          top: 8px;
        }
        .item:nth-child(4) {
          display: none;
        }
        
      }

    }


  }

  // 1281以上
  @media only screen and (min-width: $maxBpPC + 1) {


  }

}
