<div class="section section01" data-id="top">

  <!--<div id="Effects01_wrap">-->

    <!--<div id="obj01">-->
      <!--<div class="logo_img"><img src="assets/resource/img/logo01.png"></div>-->
    <!--</div>-->

    <!--<div id="obj02">-->
      <!--<div class="textbox">-->
        <!--<div class="border border01"></div>-->
        <!--<div class="border border02"></div>-->

        <!--<p class="text01">SMALL INNOVATIONS</p>-->
        <!--<p class="text02">THROUGH DESIGN AND</p>-->
        <!--<p class="text03">TECHNOLOGY</p>-->
        <!--<p class="text04">TO AUGMENT THE WORLD!!</p>-->

        <!--<div class="border border03"></div>-->
        <!--<div class="border border04"></div>-->
        <!--<div class="border border05"></div>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div id="obj03">-->
      <!--<div class="inner">-->
        <!--<div class="logo_img"><img src="assets/resource/img/logo01.png"></div>-->
        <!--<div class="txt">SONICJAM</div>-->
      <!--</div>-->
    <!--</div>-->

  <!--</div>-->

</div>