/* --------------------------------------------------------------------------------
*
*   bg
*
-------------------------------------------------------------------------------- */
#bgWrap {

  // display: none;  

  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  
  z-index: z(bg);

  .sec {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    
    display: none;
  }

  /* --------------------------------------------------------------------------------
  *
  *   sec01
  *
  -------------------------------------------------------------------------------- */
  .sec01 {

    // display: block;

  }

  /* --------------------------------------------------------------------------------
  *
  *     f02
  *
  -------------------------------------------------------------------------------- */
  .sec02 {

    // display: none;
    
  }
  
  /* --------------------------------------------------------------------------------
  *
  *   sec03
  *
  -------------------------------------------------------------------------------- */
  .sec03 {

    // display: none;
    
  }
  
  /* --------------------------------------------------------------------------------
  *
  *   sec04
  *
  -------------------------------------------------------------------------------- */
  .sec04 {

    // display: none;
    
  }
  

  /*
  *
  *   media query   
  *
  */

  // 768以下
  @media only screen and (max-width: $maxBpSP) {

    min-width: 320px;
    position: absolute !important;

  }

  // 320以下
  @media only screen and (max-width: $minBpSP)  {


  }

  // 768以上
  @media only screen and (min-width: $maxBpSP + 1) {

    // min-width: 1000px;

    /*
    *
    *   frame
    *
    */
    // .frame {
    //   position: absolute;
    //   left: 0;
    //   top: 0;
    //   width: 100%;
    //   height: 100%;
      
    //   z-index: 2;

    //   border: 8px solid #000;
    //   box-sizing: border-box;
    // }
   
  }

  // 1281以上
  @media only screen and (min-width: $maxBpPC + 1) {


  }


}
