/* --------------------------------------------------------------------------------
*
*   top
*
-------------------------------------------------------------------------------- */
body.top #header {

  .subTit {
    
    display: none;
    opacity: 0;
    
  }

  .logo {
    
    .text {
      
      display: block;
    }

  }
  
  /*
  *
  *   media query   
  *
  */

  // 768以下
  @media only screen and (max-width: $maxBpSP) {

  

  }

  // 320以下
  @media only screen and (max-width: $minBpSP)  {


  }

  // 768以上
  @media only screen and (min-width: $maxBpSP + 1) {


  }

  // 1281以上
  @media only screen and (min-width: $maxBpPC + 1) {


  }
  
}
