@charset "utf-8";

/* --------------------------------------------------------------------------------
*
*   menu sss
*
-------------------------------------------------------------------------------- */
#nav {

  position: fixed;
  right: 0;
  top: 11%;
  
  z-index: z(nav);
  
  font-size: 20px;
  letter-spacing: 0.05em;
  @extend %roboto;
  color: #fff;
  
  text-align: right;
  
  .item {
    padding-right: 20px;
    margin-bottom: 10px;
    
    position: relative;
    
    opacity: 0;
  }
  .item.isActive {
    padding-right: 17px;
  }

  .bar {
    width: 100%;
    height: 1px;
    background-color: #fff; 
  }

  a {
    color: #fff;
  }




  // effect
  .link {
    outline: none;
    text-decoration: none;
    position: relative;
    line-height: 1;
    display: inline-block;
  }

  /* Kukuri */
  .link--hover {
    overflow: hidden;
    line-height: 1;
    color: #fff;
    opacity: 1;
    -webkit-transition: color 0.4s 0.1s;
    transition: color 0.4s 0.1s;
    -webkit-transition-timing-function: $easeOutExpo;
    transition-timing-function: $easeOutExpo;
  }

  .link--hover:hover {
    // color: #81d8d0;
    color: #81d8d0;
    // opacity: 0;
  }

  // .link--hover::after {
  //   content: '';
  //   position: absolute;
  //   height: 16px;
  //   width: 100%;
  //   top: 50%;
  //   margin-top: -8px;
  //   right: 0;
  //   background: #F9F9F9;
  //   -webkit-transform: translate3d(-100%,0,0);
  //   transform: translate3d(-100%,0,0);
  //   -webkit-transition: -webkit-transform 0.6s;
  //   transition: transform 0.6s;
  //   -webkit-transition-timing-function: $easeOutExpo;
  //   transition-timing-function: $easeOutExpo;
  // }

  // .link--hover:hover::after {
  //   -webkit-transform: translate3d(100%,0,0);
  //   transform: translate3d(100%,0,0);
  // }

  .link--hover::before {
    content: attr(data-letters);
    position: absolute;
    z-index: 2;
    overflow: hidden;
    color: #81d8d0;
    white-space: nowrap;
    width: 0%;
    -webkit-transition: width 0.4s 0.0s;
    transition: width 0.4s 0.0s;
    -webkit-transition-timing-function: $easeOutExpo;
    transition-timing-function: $easeOutExpo;
  }

  .link--hover:hover::before {
    width: 100%;
  }
  
  /*
  *
  *   media query   
  *
  */

  // 768??
  @media only screen and (max-width: $maxBpSP) {

    display: none;

    transform-origin: 100% 0 !important;

    .bar {display: none;}
    .bar01 {
      display: block;
      
      height: 1px;
      background-color: #fff;
      position: absolute;
      right: 0;
      bottom: -2px;
      width: 68px !important;
      transform: none !important;
      
      
    }


  }

  // 320??
  @media only screen and (max-width: $minBpSP)  {


  }

  // 768??
  @media only screen and (min-width: $maxBpSP + 1) {

    font-size: 16px;
    right: 40px;
    top: 40px;

    .list {
      zoom:1;
      &:after{
          display: block;
          content: "";
          clear: both;
      }

      .item {
        float: left;
        margin-right: 22px;
        padding-right: 0;
        padding-bottom: 10px;
        overflow: hidden;
        
        .bar {
          position: absolute;
          bottom: 6px;
          left: 0;
          width: 0;
        }
      }
      .item:nth-child(2) {
        margin-right: 24px;
      }
      .item:nth-child(3) {
        margin-right: 24px;
      }
      .item:nth-child(4) {
        margin-right: 0;
      }
    }

  }

  // 1281??
  @media only screen and (min-width: $maxBpPC + 1) {


  }

    
}