/* --------------------------------------------------------------------------------
*
*   intervew_detail
*
-------------------------------------------------------------------------------- */
body.interview_detail #header {

  background-color: rgba(0,0,0,.5);
  height: 62px;
  
  /*
  *
  *   media query   
  *
  */

  // 768以下
  @media only screen and (max-width: $maxBpSP) {

  

  }

  // 320以下
  @media only screen and (max-width: $minBpSP)  {


  }

  // 768以上
  @media only screen and (min-width: $maxBpSP + 1) {

    background-color: none;
    height: auto;

  }

  // 1281以上
  @media only screen and (min-width: $maxBpPC + 1) {


  }
  
}
